@charset "UTF-8";

table{
	text-align: center;
	border-collapse: collapse;
	margin: 1em auto;
	border: 1px solid #dad9d4;
}

tr:nth-child(even){
	background-color: #dad9d4;
}

td{
	padding-left: 1em;
	padding-right: 1em;
	margin: 1em;
}

th{
	font-weight: bold;
}

#main{
	background-color: white;
	width: 90%;
	color: black;
	padding: 1em;
	margin: 0em auto;
}


body{
	background-color: #dad9d4;
	font-family: Verdana, sans-serif;	
}

#banner, #w3c{
	background-image: url('./banner-background.png');
	color: white;
	padding: 1em;
	width: 90%;
	margin: 0 auto;
}

form{
	width: 24em;
	margin: 0 auto;
}

p, h1{
	text-align: center;
}

/*
	* style for add-film.php
*/
ul{
	font-size: 11pt;
	font-style: italic;
	color: red;
}

ol{
	font-size: 11pt;
	font-style: italic;
	list-style-type: none;
	color: green;
}